<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.com.moviesathome">

    <application
        android:name="co.com.moviesathome.Controller.ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="co.com.moviesathome.View.LoginActivity"></activity>
        <activity android:name="co.com.moviesathome.View.LandingActivity"></activity>
        <activity android:name="co.com.moviesathome.View.RegisterActivity"></activity>
        <activity android:name="co.com.moviesathome.View.homeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.com.moviesathome.View.PeliculasActivity"
            android:label="@string/title_activity_peliculas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="co.com.moviesathome.View.PeliculasDetailActivity"
            android:label="@string/title_activity_peliculas_detail"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>